---
title: Company
---

<div class="container">

<div>

</div>

<h3 class="text-center">Our Team</h3>
<br/>

<div class="row">
{{#each bios}}
    <div class="col-md-4">
    <img class="img-thumbnail" src="assets/{{avatar}}"/>
    <h3>{{name}}</h3>
    <h4>{{title}}</h4>
    <p>
    	<a href="{{linkedin}}">LinkedIn</a>
    	<a href="{{linkedin}}">Twitter</a>
    	<a href="{{linkedin}}">GitHub</a>
    	<a href="mailto:{{linkedin}}">Email</a>
    </p>
    <p>{{bio}}</p>
    </div>
{{/each}}
</div>

</div>