---
title: Company
order: 6
---

<div class="company-page">
  <div class="container">

    <h3 class="text-center">Our Team</h3>
    <br/>

    <div class="row">
    {{#each bios}}
        <div class="col-md-3 profile">
          <img class="img-thumbnail" src="assets/{{avatar}}"/>
          <h3>{{name}}</h3>
          <h4>{{title}}</h4>
          <p class="social-links">
          	<a href="{{linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a>
          	<a href="https://twitter.com/{{twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
          	<a href="mailto:{{email}}"><i class="fa fa-envelope-o"></i></a>
          </p>
        </div>
    {{/each}}
    </div>

  </div>
</div>
