---
title: How It Works
order: 3
---

<div class="container">

	<div>
		<h3 class="text-center">Streamlyne Platform<h3/>
	</div>

	<div class="row">

		<br/>

		<div class="col-md-6">
			<img src="{{assets}}/img/how-it-works1.jpg"/>
		</div>

		<br/>

		<div class="col-md-6">
			<p>We collect and analyze raw unstructured data from three separate silos:</p>
			<ul>
				<li>Asset Management Systems (IBM Maximo, SAP, Oracle)</li>
				<li>Distributed Control Systems (Invensys, Honeywell, Siemens, ABB)</li>
				<li>Operator generated content and data</li>
			</ul>
			<p>We then take this complex data and run it through Streamlyne’s custom analytics platform and generate simple and user-friendly preventative alerts and predictive analytics for operators and managers to make better decisions. Streamlyne builds relationships between assets, sensors, and new operator-generated input so you can track what is going on, when it's going on, and why.
			</p>

			<br/>
			<h4>Manager Capabilities</h4>
			<p>Managers and VP's can view critical information for one or multi-site plants from their office or home to stay up to date on their operations.</p>

			<br/>
			<h4>Operator Capabilities</h4>
			<p>Operators recieve critical alerts on a mobile and application to help them identify fix issues before plant downtime or potential equipment failures occur.
			</p>

		</div>

	</div>
</div>

<br/>
<br/>

<div>

	<section class="section-blue">
		<div class="container">
			<div class="row">
				<h3 class="text-center"><i class="fa fa-link"></i> API/Custom Integration</h3>
				<p class="text-center">We easily connect to all major Distributed Control Systems (DCS) and Asset Management System API’s.</p>
				<div class="col-md-6">
					<h4>Distributed Control Systems</h4>
					<ul>
						<li>Invensys</li>
						<li>Honeywell</li>
						<li>Siemens</li>
						<li>ABB</li>
					</ul>
					{{!--
					<div class="">
						<img src="{{assets}}/img/schneider_electric.jpg" class="img-thumbnail"/>
						<img src="{{assets}}/img/honeywell.jpg" class="img-thumbnail"/>
						<img src="{{assets}}/img/siemens.png" class="img-thumbnail"/>
						<img src="{{assets}}/img/abb.jpg" class="img-thumbnail"/>
					</div>
					--}}
				</div>
				<div class="col-md-6">
					<h4>Asset Management Systems</h4>
					<ul>
						<li>IBM Maximo</li>
						<li>SAP</li>
						<li>Oracle</li>
						<li>OpenText</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

</div>

</div>
