
<br/>
<br/>

<div class="row">

<div class="col-md-6">

  <img src="{{assets}}/img/Alarms_Queue.png" />
  <br/>

</div>

<div class="right-column col-md-6">
  <h3>Alarm Manager</h3>
  <p>View your DCS Alarms and your Streamlyne multi-sensor alarms in one place. Streamlyne’s Alarm Manager allows you to cover your bases by observing your current DCS alarms in real time, and your customized Streamlyne Scenario alarms. As alarms come in, you can input a "cause" and "solution" for each alarm, or select from the existing list.
  </p>
</div>
</div>


<br/>
<br/>
<br/>

<div class="row">

  <div class="col-md-6">
    <h3>Hydrates</h3>
    <p>Hydrates can be insidious to any plant, and can be difficult to track. Hydrates are common but some are extremely lethal if left to form. Streamlyne allows you to input any string of “triggers” (sensors) for any hydrate scenario to help you identify when a hydrate is forming. You can now easily track the progress of a hydrate event by inputting sensor high and low thresholds to assist in your diagnosis.
    </p>
  </div>

  <div class="col-md-6">
    <img src="{{assets}}/img/Scenarios_Hydrates.png" />
  </div>

</div>


<br/>
<br/>
<br/>

<div class="row">

  <div class="col-md-6">
    <img src="{{assets}}/img/Scenarios_Flaring.png" />
  </div>

  <div class="col-md-6">
    <h3>Flaring</h3>
    <p>Unplanned flaring is a drain on both profitability and product, can be hazardous to the surrounding environment, and create red flags to government. With Streamlyne you can identify the pathway of “triggers” (sensors) that are involved in any flaring event to help you identify when a flare might take place. This allows you and your plant to be proactive instead of reactive, reducing costs and unknown outcomes.
    </p>
  </div>

</div>

<br/>
<br/>
<br/>

<div class="row">

  <div class="col-md-6">
    <h3>Hydrates</h3>
    <p>Hydrates can be insidious to any plant, and can be difficult to track. Hydrates are common but some are extremely lethal if left to form. Streamlyne allows you to input any string of “triggers” (sensors) for any hydrate scenario to help you identify when a hydrate is forming. You can now easily track the progress of a hydrate event by inputting sensor high and low thresholds to assist in your diagnosis.
    </p>
  </div>

  <div class="col-md-6">
    <img src="{{assets}}/img/Scenarios_Hydrates.png" />
  </div>

</div>


<br/>
<br/>
<br/>

<div class="row">

  <div class="col-md-6">
    <img src="{{assets}}/img/Scenarios_Flaring.png" />
  </div>

  <div class="col-md-6">
    <h3>Flaring</h3>
    <p>Unplanned flaring is a drain on both profitability and product, can be hazardous to the surrounding environment, and create red flags to government. With Streamlyne you can identify the pathway of “triggers” (sensors) that are involved in any flaring event to help you identify when a flare might take place. This allows you and your plant to be proactive instead of reactive, reducing costs and unknown outcomes.
    </p>
  </div>

</div>

<br/>
<br/>
<br/>

<div class="row">

  <div class="col-md-6">
    <h3>Hydrates</h3>
    <p>Hydrates can be insidious to any plant, and can be difficult to track. Hydrates are common but some are extremely lethal if left to form. Streamlyne allows you to input any string of “triggers” (sensors) for any hydrate scenario to help you identify when a hydrate is forming. You can now easily track the progress of a hydrate event by inputting sensor high and low thresholds to assist in your diagnosis.
    </p>
  </div>

  <div class="col-md-6">
    <img src="{{assets}}/img/Scenarios_Hydrates.png" />
  </div>

</div>
