<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>{{title}} | {{site.title}}</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="Streamlyne Technologies Ltd.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.streamlyne.co/">
    <meta property="og:site_name" content="Streamlyne">
    <meta property="og:description" content="">

  <!-- Styles -->
  <link rel="stylesheet" href="{{assets}}/bower/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{assets}}/bower/animate.css/animate.min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{assets}}/bower/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{assets}}/css/lava-theme.css">
  <link rel="stylesheet" href="{{assets}}/css/main.css">
  <link rel="stylesheet" href="{{assets}}/css/slabtext.css">
  <link rel="stylesheet" href="{{assets}}/css/custom-styles.css">

  <script src="{{assets}}/bower/modernizr/modernizr.js"></script>

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{assets}}/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{assets}}/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{assets}}/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{assets}}/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="{{assets}}/favicon.ico">


  {{!--
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{assets}}/css/bootstrap.min.css">

    <!-- Bootstrap theme -->
    <link href="{{assets}}/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{assets}}/css/theme.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
--}}
</head>

<body style="">

    {{> navbar-fixed-top }}

    <div class="" role="main">

      {{> body }}

    </div>

    {{> footer}}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{assets}}/bower/jquery/dist/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{assets}}/bower/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
